* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif !important;
}

body {
  display: flex;
  background-color: #d8dbe2;
}
/* sidebar */
.sidebar {
  width: 220px;
  background-color: #010001;
  color: #d8dbe2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding: 30px 20px;
}


.logo {
  font-size: 36px;
  font-weight: bold;
  color: #d8dbe2;
  padding: 35px;
  text-align: center;
  height: 100hv;
}

.menu {
  padding: 1px 0;
  display: flex;
  flex-direction: column;
}

.menu a {
  margin-top: 5px;
  padding: 12px 20px;
  color: #d8dbe2;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.menu a:hover {
  background-color: #333;
  border-left: 4px solid #f89728;
}

.logout-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: fit-content;
  color: #d8dbe2;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s;
}

.logout {
  margin: 30px;
  margin-bottom: 10px;
}

.logout-link:hover {
  color: #f89728;
}

.logout-link i {
  margin-right: 10px;
  font-size: 20px;
}

.logout a {
  padding: 10px;
}

/* Main Area */
.main {
  flex: 1;
  background-color: #d8dbe2;
  display: flex;
  flex-direction: column;
}

/* top bar menu */
.topbar {
  background-color: white;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  margin-left: 220px;

  display: flex;
  justify-content: space-between; /* kiri-kanan */
  align-items: center;
}
/* custom color icon */
.custom-icon {
  color: #010001; 
  font-size: 24px;
}
/* css nama user atau atasan */
.user-info {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}

.user-info i {
  font-size: 24px;
}

/* Content Card */
.content {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 220px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 1000px;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #300000;
}

.btn-add {
  display: block;
  margin: 0 auto 30px auto;
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-add:hover {
  background-color: #d48806;
}

/* Table Style */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f4f4f4;
}

/* Status Badges */
.badge {
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.rejected {
  background-color: #c62828;
}

.approved {
  background-color: #2e7d32;
}

.waiting {
  background-color: #fb8c00;
}

.finished {
  background-color: #1e88e5;
}
